src/checkerEntrypoints.ml

generated/michelson/main.tz
generated/michelson/functions.json

generated/ligo

_build
_coverage
checker.byte
_opam

*.cmi
*.cmo

# editors
.vscode
/result

# python stuff
__pycache__
.python-version

# tezos client scripts
*2net.sh