[submodule "vendor/ctez"]
	path = vendor/ctez
	url = https://github.com/tezos-checker/ctez
	branch = next_next
[submodule "vendor/ligo"]
	path = vendor/ligo
	url = https://gitlab.com/ligolang/ligo.git
