name: CI

on:
  pull_request:
  push:
    paths-ignore:
    - '**/*.md'
    - '**/*.org'
    - '.dir-locals.el'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: cachix/install-nix-action@v12
    - uses: actions/checkout@v2
    - name: Build and test
      run: nix-shell --run 'cd monolithic && make'
