name: Docs

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: cachix/install-nix-action@v13
    - uses: actions/checkout@v2
    - name: Build spec
      run: nix-build -A docs
